/* Index */ 
@import url("https:fonts.googlepis.com/css?family=Ruda: 400, 700|Syncopate: 400");

body{
    background-color: #84A873;
}


.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}
.homepage-iteration-3 {
    background-color: #84A873;
    display: flex;
    height: 832px;
    padding: 70px 59px;
    width: 1280px;
}
.background {
    align-items: center;
    height: 691px;
    justify-content: center;
    min-width: 1162px;
    padding: 114px 19px;
    margin-top: 20px;
    gap: 20px;
}
homepage-iteration-3 .overlap {
    background-color: #Ffffff;
    display: flex;
}
.flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    min-height: 403px;
    width: 589px;
}
p.kasandraf {
    color: black;
    font-family: 'Ruda', sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    min-height: 76px;
    width: 507px;
}

.smedia {
    display: inline-block;
}
.socials {
    display: inline-block;
    height: 24px;
    margin-left: 13px;
    margin-top: 40px;
    padding-right: 15px;
    width: auto;
}
.empathy-in-every-cl {
    color: black;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 15px;
    min-height: 156px;
    width: 576px;
}
.primary-nav {
    display: inline-block;
    margin-top: 44px;
    min-width: auto;
}
.primary-nav a{
    align-items: flex-end;
    text-align: center;
    border: 2px solid;
    border-color: #84A873;
    border-radius: 20px;
    height: 48px;
    line-height: 48px;
    justify-content: flex-end;
    margin-left: 20px;
    min-width: 50px;
    padding: 1px 9px;
    color: black;
    text-decoration: none;
}
.link {
    cursor: pointer;
    letter-spacing: 0;
    line-height: normal;
    min-height: 34px;
    width: 93px;
}
.work {
    cursor: pointer;
    letter-spacing: 0;
    line-height: normal;
    min-height: 34px;
    width: 45px;
}
.place {
    cursor: pointer;
    letter-spacing: 0;
    line-height: normal;
    min-height: 34px;
    width: 83px;
}
.kasHEIC {
    height: 450px;
  
    width: auto;
}
.primary-nav a:hover{
    background-color: #84A873;
    color: white;
}

/* About Me */ 
.navbar {
    position: absolute;
    top: 50px;
    right: 177px;
}
.navbar a {
    color: black;
    font-family: 'Ruda', sans-serif;
    display: inline-block;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: none;
    margin-right: 40px;
}
.homepage-iteration-3 .overlap {
    background-color: #Ffffff;
    display: flex;
    flex-direction: column;
}
.background {
    align-items: center;
    height: 691px;
    justify-content: center;
    min-width: 1162px;
    padding: 114px 19px;
    margin-top: 20px;
}
.title {
    color: black;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    display: flex;
    line-height: normal;
    white-space: nowrap;
    padding-left: 30px;
}
.aboutme {
    color: black;
    font-family: 'Ruda', sans-serif;
    left: 74px;
    letter-spacing: 0;
    position: absolute;
    top: 282px;
    width: 782px;
    height: 15px;
    text-align: left;
    padding-left: 30px;
}
.ellipse-1 {
    background-color: #46905b;
    border-radius: 8px/6.5px;
    padding-left: 10px;
    margin-top: 23px;
    height: 13px;
    display: flex;
    width: 16px;
}
.titlecontainer {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin-left: 50px;
}

.smedia {
    display: inline-block;
    height: 24px;
    margin-left: 13px;
    padding-right: 15px;
    width: auto;
    right: 50px;
}

/* Work */ 
.projectContainer{
    display: flex;
}

.project1 {
align-items: center;
letter-spacing: 0;
line-height: normal;
margin-left: 112px;
margin-top: 10px;
min-height: 53px;
width: 240px;
}
.Gourmade {
    height: 287px;
    left: 726px;
    width: 391px;
    object-fit: cover;
    gap: 80px;
    text-decoration: none;
}
.grdc2-1 {
    height: 287px;
    left: 726px;
    object-fit: cover;
    top: 44px;
    width: 391px;
    border: 2px solid;
    border-color: black;
    text-decoration: none;
}
.rectangle-11 {
    background-color: #Ffffff;
    border: 2px solid;
    border-color: black;
    left: 0;
    position: absolute;
    top: 0;
}
.portfolio .rectangle {
    cursor: pointer;
    height: 376px;
    width: 398px;
}

.projectContainer h2{
    color: olivedrab;
}
.smedia {
    display: inline-block;
    height: 24px;
    padding-right: 15px;
    width: auto;
    right: 50px;
}
.ProtoPersona {
    align-items: center;
}
.GirlsRock {
    align-items: center;
}
.UserPersona1 {
    align-items: center;
}
.UserPersona2 {
    align-items: center;
}
.ValueProp {
    align-items: center;
}
.UserSc {
    align-items: center;
}
.Storybaord {
    align-items: center;
}
.Sitekey {
    align-items: center;
}
.grcs {
    align-items: center;
    color: black;
    font-family: 'Ruda', sans-serif;

}
/* Contact */ 
.conactcontainer {
    margin-top: 20px;
}
.name {
    font-family: 'Ruda', sans-serif;
}
.email {
    font-family: 'Ruda', sans-serif;
}
.message {
    height: 35px;
}
input[type=text], select {
    font-family: 'Ruda', sans-serif;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    width: 100%;
  }
  
  input[type=submit] {
    font-family: 'Ruda', sans-serif;
    width: 100%;
    background-color: #46905b;
    color: White;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;  
  }
  
  input[type=submit]:hover {
    font-family: 'Ruda', sans-serif;
    background-color: #AFD69D;
    color: white
  }

/* Gourmade */ 
.GourmadeCS {
    display: flexbox;
    font-family: 'Ruda', sans-serif;
    color: black;
}


/* Test */
.cardcontainer {
    display:flex;
    margin-top: 50px;
    flex-direction: row;
}
.card {
    font-family: 'Ruda', sans-serif;
    background-color: white;
    align-items: center;
    margin-right: 10px;
}
.btn-primary {
    font-family: 'Ruda', sans-serif;
    border-radius: 20px;
    background-color: #46905b;
    border-color: #ccc;
    color: white;
}
.btn-primary:hover{
    background-color: #84A873;
    color: white;
    border-color: #ccc;;
}
.card-body {
    text-align: center;
}


/* GirlsRockDC */ 
.casestudy {
    display: flexbox; 
    letter-spacing: 0;
    font-family: 'Ruda', sans-serif;
    margin-bottom: -250px;
    padding-left: 35px;
    gap: 15px;
}
.progressbar {
    border-radius: 1px;
    box-shadow: 20px;
    color: #2f6c38;
    color: #FFFFFF; 
    Animation:  1s linear infinite;
    transition:  width .6s ease;
}
.GRCS {
    display: flex;
    letter-spacing: 0;
    font-family: 'Ruda', sans-serif;
}
.GRCS2 {
    display: inline-block;
    letter-spacing: 0;
    font-family: 'Ruda', sans-serif;
}
.GRCS3 {
    display: inline-block;
    letter-spacing: 0;
    font-family: 'Ruda', sans-serif;
}
.GRCS4 {
    display: inline-block;
    letter-spacing: 0;
    font-family: 'Ruda', sans-serif;
}
.GRCS5 {
    display: inline-block;
    letter-spacing: 0;
    font-family: 'Ruda', sans-serif;
}
.GRCS6 {
    display: inline-block;
    letter-spacing: 0;
    font-family: 'Ruda', sans-serif;
}
.GRCS7 {
    display: inline-block;
    letter-spacing: 0;
    font-family: 'Ruda', sans-serif;
}
.GRCS8 {
    display: inline-block;
    letter-spacing: 0;
    font-family: 'Ruda', sans-serif;
}
.GRCS9 {
    display: inline-block;
    letter-spacing: 0;
    font-family: 'Ruda', sans-serif;
}
.GirlsRock {
    align-items: center;
    display: flex;
    row-gap: 15px;
}
.ProtoPersona {
    align-items: center;
    display: flex;
    row-gap: 15px;
}
.UserPersona1 {
    align-items: center;
    display: flex;
    row-gap: 15px;
}
.ValueProp {
    align-items: center;
    display: flex;
    row-gap: 15px;
}
.UserSc {
    align-items: center;
    display: flex;
    row-gap: 15px;
}
.Wireframe1 {
    align-items: center;
    display: flex;
    row-gap: 15px;
}
.Finalcell {
    align-items: center;
    display: flex;
    row-gap: 15px;
}